*.pyc
*.json
local_settings.py
/xarxacat_site/xarxacat_site/media/
DEV_NOTES.txt
CONFIG_APACHE_SERVER.txt

xarxacat_site/*.pyc
xarxacat_site/exteriors/*.pyc
xarxacat_site/xarxacat_site/*.pyc



xarxacat_site/exteriors/admin.pyc

xarxacat_site/exteriors/admin.pyc

xarxacat_site/xarxacat_site/settings.pyc

xarxacat_site/xarxacat_site/local_settings.pyc

xarxacat_site/xarxacat_site/local_settings.pyc

xarxacat_site/xarxacat_site/urls.pyc

xarxacat_site/exteriors/admin.pyc

xarxacat_site/exteriors/admin.pyc


xarxacat_site/xarxacat_site/models.pyc
xarxacat_site/exteriors/models.pyc
xarxacat_site/exteriors/views.pyc

public_html/documents/

xarxacat_site/exteriors/views.pyc

xarxacat_site/exteriors/views.pyc

xarxacat_site/premsa/models.pyc
